.swiper {
    margin: 20px auto;
    width: 100%;
    height: 300px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.btn-left {
    clip-path: polygon(0 0, 0% 100%, 98% 53%);
    background-color: white;
    border-radius: 10%;
}
