    .swiper {
        margin: 20px auto;
        width: 100%;
        height: 300px;
    }
    /* .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    } */
    /* .mySwiper-first {
        position: absolute;
        width: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0px auto;
    } */
    
    .btn-left {
        clip-path: polygon(0 0, 0% 100%, 98% 53%);
        background-color: white;
        border-radius: 10%;
    }
    
    @media screen and (max-width:966px) {
        .mySwiper-first {
            height: 190px;
            margin-top: 20px;
        }
        .mySwiper-first .swiper-slide img {
            height: 100%;
            width: 100%;
            transform: scale(1.4);
        }
    }
    
    @media screen and (max-width:947px) {
        .mySwiper-first .swiper-button-prev,
        .mySwiper-first .swiper-button-next {
            display: none;
        }
        .mySwiper-first .swiper-pagination {
            width: 100%;
        }
        .mySwiper-first .btn-argoman {
            right: 10px !important;
            bottom: 10px !important;
            width: 25%;
        }
    }
    
    @media screen and (max-width:600px) {
        .first-pagination {
            display: none;
        }
        .mySwiper-first .swiper-slide img {
            height: 150px;
        }
        .mySwiper-sedound {
            height: 150px !important;
        }
    }
