    @import './assets/fonts/styelefont.css';
    @import './assets/fonts/stylefontycan.css';
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    body {
        background-color: rgb(245, 245, 245);
    }
    
    input,
    button {
        font-family: ycan;
    }
    
    .btn {
        background-color: red;
        width: 100%;
    }